
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>PageTitle</title>
  <link rel="stylesheet" href="stylesheets/app.css"/>
  <link rel="stylesheet" href="stylesheets/custom.css"/>
  <script type="text/javascript">
    window.brunch = window.brunch || {};
    window.brunch['auto-reload'] = {enabled: true};
    
  </script>
  <script src="javascripts/vendor.js"></script>
  <script src="javacripts/app.js"></script>
  <script>require('initialize');</script>
</head>